body * {
	font-family: 'Average Sans', sans-serif;
}

/*Navbar Styles*/
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.navbar-brand {
  color: #d36f04;
}

/*Logo Styles and Call Now bubble*/
.logo span {
  z-index: 1;
  font-size: 150px;
  color: #d36f04;
}


.logo p:nth-child(1){
  font-size: 19px;
  font-weight: 700;
  position: absolute;
  color: black;
  top: 20px;
  right: 0px;
  text-align: center;
}

.logo p:nth-child(2){
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  top: 70px;
  right: 8px;
}

/*Styles to overwrite Jumbotron and Carousel Bootstrap styles*/
.jumbotron {
  padding: 0px;
  background-color: white;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
}

  .carousel-indicators li {
    display: inline-block;
    margin: 10px;
    text-indent: 0;
    opacity: 0.6;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}

.carousel-indicators .active {
    opacity: 0.8;
    width: 20px;
    height: 20px;
    margin: 10px;
    background-color: #d36f04;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5); 
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

/*Styling for the home page screen*/
#home-tiles p { 
  font-size: 18px;
  margin-bottom: 30px;
 }

#pest-tile, #services-tile, #contact-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #6a6d72;
  overflow: hidden;
  border-radius: 5px;
}

#pest-tile {
  background: url('../images/6043119.jpg') no-repeat;
  background-position: center;
}

#services-tile {
  background: url('../images/10486072_721320317914765_1573608620296538518_n.jpg') no-repeat;
  background-position: center;
}

#contact-tile {
  background: url('../images/2625231.jpg') no-repeat;
  background-position: center;
}

#pest-tile span, #services-tile span, #contact-tile span {
  position: absolute;
  top: 110px;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: white;
  color: black;
  opacity: .8;
}

/*Styles the images on the Pest Info page*/
.vertical-align {
    display: flex;
    align-items: center;
}

.col-sm-6 img {
  border: 2px solid #6a6d72;
  border-radius: 5px;
 }

p.bees {
  font-weight: bold;
 }

/*Small styling for the Services page*/
p.menu {
  text-align: center;
}

p span {
  font-size: 22px;
}

/*Styles to overwrite the default Bootstrap button styles*/
.btn {
  border: 1px solid #964f03;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
    background: #d36f04;
}

.btn-primary {
    background: #d36f04;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #af5c04;
}

.btn-primary:active, .btn-primary.active {
    background: #af5c04;
    box-shadow: none;
}

.btn-primary-disbaled:hover  {
    background: #af5c04;
}

/*Footer Styles*/
.panel-footer {
  background-color: #c4c4c4;
}

.panel-footer ul {
  list-style-type: none;
}

@media (max-width: 767px) {

  .panel-footer ul {
  list-style-type: none;
  text-align: center;
}
  .row.vertical-align {
        display: block; /* turn off the Vertical Align box layout on small devices*/
    }
}
